name: DEV Deploy
concurrency: dev-environment-deploy

on:
  push:
    branches:
      - main

jobs:
  deploy_and_notify:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Create Changelog
      id: changelog
      uses: actions/github-script@v6
      env:
        COMMITS: ${{ toJSON(github.event.commits) }}
      with:
        script: |
          const commits = JSON.parse(process.env.COMMITS);
          let compiledMessage = '';
          commits.forEach(commit => {
            compiledMessage += `${commit.message} (de: ${commit.author.name}) ${commit.url}\r\n`;
          });
          return compiledMessage;
    - name: Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      uses: Ilshidur/action-discord@master
      with:
        args: 'Nuevos cambios en el repo: \n${{ steps.changelog.outputs.result }}'

